## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7*7*7*7)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s= "Hi there dad!"

In [3]:
s.split

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter="The diameter of {} is 12742 kilometers".format(planet)

In [5]:
print(diameter)

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

** What is the main difference between a tuple and a list? **

In [13]:
#The main  differences between lists and tuple are , list encloused

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [20]:
def domainGet (email): 
    print("your domain is:" + email.split('@')[-1])
email = input ("please enter your email: >")  
domainGet(email)

please enter your email: >vijay!@gmail.com
your domain is:gmail.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [29]:
def findDog(st):
  if 'dog' in st.lower():
      print("True")
  else:
        print("False")

In [30]:
st="i take a walk with my dog"
findDog(st)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [31]:
value ="my neighbor's dog wont't eat dry dog food";

In [32]:
def countdogs(value):
  count=0
  for word in value.lower().split():
    if word =='dog' or word == 'dogs':
      count = count+1
      print(count)
countdogs (value)

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [33]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [34]:
caught_speeding(91,False)

'Big Ticket'

In [35]:
speed="your speed is more than 81"
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [45]:
employee_names = ["vijay", "surya prakash", "sanjay", "abishek"]
employee_salaries = {}
for employee in employee_names:
  while True : 
    try:
      employee_salaries[employee] = int(input(f"Enter {employee}'s salary:  "))
      break
    except ValueError:
      print("Invalid input")
  print(employee_salaries)      
  total = sum(employee_salaries.values())
  print(total)

Enter vijay's salary:  100000
{'vijay': 100000}
100000
Enter surya prakash's salary:  110000
{'vijay': 100000, 'surya prakash': 110000}
210000
Enter sanjay's salary:  120000
{'vijay': 100000, 'surya prakash': 110000, 'sanjay': 120000}
330000
Enter abishek's salary:  85000
{'vijay': 100000, 'surya prakash': 110000, 'sanjay': 120000, 'abishek': 85000}
415000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [46]:
d1={"Empid":101,
    "Empname":'Vijay',
    "Basicpay":5000}
d2={"Deptname":'IT',
    "Deptid":105}